<h1>Check Charge Status</h1>
<h2><%= "El cargo por #{@charge.amount/100} tiene un status #{@charge.status}"%></h2>
<% if !@charge.payment_method.barcode_url.nil? %>
	<%= image_tag @charge.payment_method.barcode_url %>
<% end %>
<p><%=@charge.inspect%></p>

